<div class="container text-center mt-5">
  <h2>Account Login</h2>
  <form>
    <input type="email" class="form-control mt-4" id="floatingInput" placeholder="Email">
    <input type="password" class="form-control mt-4" id="floatingPassword" placeholder="Password">
    <button type="submit" class="btn btn-primary mt-5">Sign in</button>
  </form>
</div>